<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>Debation</h1>
    <form action="/anonymous" method="POST">
        <label for="username">Name:</label>
        <input type="text" name="username" id="username" required>
        <br>
        <br>
        <label for="roomid">Room ID </label>
        <input type="text" name="roomid" id="password">
        <input type="submit" id="username" value="Join">
    </form>
    <br>
    <a href="/login">&#60; | back</a>
</body>
</html>
