<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <% if (messages.error) { %>
        <%= messages.error %>
    <% } %>
    <h1>Debation</h1>
    <form action="/login" method="POST">
        <label for="username">Name:</label>
        <input type="text" name="username" id="username" autocomplete required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" autocomplete required>
        <br>
        <input type="submit" id="submit" value="login">
        <br>
        <button><a href="/register">Sign up</a></button>
        <button><a href="/anonymous">Join private room</a></button>
    </form>
</body>
</html>