<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Debation</h1>
    <% if (messages.usertaken) { %>
        <%= messages.usertaken %>
    <% } %>
    <% if (messages.no_username) { %>
        <%= messages.no_username %>
    <% } %>
    <% if (messages.no_password) { %>
        <%= messages.no_password %>
    <% } %>
    <% if (messages.no_email) { %>
        <%= messages.no_email %>
    <% } %>
    <form action="/register" method="POST">
        <label for="username">Name:</label>
        <input type="text" name="username" id="username" autocomplete required>
        <br>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" autocomplete required>
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" autocomplete required>
        <br>
        <input type="submit" id="submit" value="register">
        <br>
        <button><a href="/login">Sign in</a></button>
        <!-- <button><a href="/anonymous">Join private room</a></button> -->
    </form>
</body>
</html>